.ant-card-head {
  background-color: #00bfff !important;
}

.ant-card-body p {
  text-align: center;
  line-height: 140px;
}

.loginWrap {
  margin-bottom: -400px !important;
}

.loginWrap::after {
  content: '';
  display: block;
  clear: right;
}